@keyframes goodAnswerAnimation {
    from {background-color: goldenrod;}
    to {background-color: green;}
}
@keyframes wrongAnswerAnimation {
    from {background-color: goldenrod;}
    to {background-color: red;}
}
@keyframes newQuestion {
  from {margin-left: -900px;}
  to{margin-left:0px;}
}
body {
  background-color: bisque;
  font: 1em sans-serif;
}
.wrapper {
  overflow: hidden;
  width: 80%;
  margin: auto;
  border: 8px solid brown;
  background-color: bisque;
  display: none;
}
.quizTitle {
  color: goldenrod;
}
.myQuestion {
  color: brown;
}
.questionBox, .resultBox {
  padding: 20px;
  width: 80%;
  margin-left:0px;
}
.questionBox-new {
  padding: 20px;
  width: 80%;
  margin-left:0px;
  animation-name: newQuestion;
  animation-duration: 2s;
}

.myAnswer {
  width: 80%;
  text-align: center;
}
.answer {
  list-style-type: none;
  padding: 10px;
  background-color: brown;
  border:4px solid goldenrod;
  border-radius: 12px;
  margin: 15px;
  color: goldenrod;
}
.answer:hover, .rlbutton:hover, .quiz1button:hover, .quiz2button:hover {
  background-color: goldenrod;
  cursor: pointer;
  color: brown;
}
.right {
  padding: 10px;
  color:goldenrod;
  border:4px solid brown;
  border-radius: 12px;
  margin: 5px;
  background-color: green;
  animation-name: goodAnswerAnimation;
  animation-duration: 0.5s;
}
.wrong {
  padding: 10px;
  color:goldenrod;
  border:4px solid brown;
  border-radius: 12px;
  margin: 5px;
  background-color: red;
  animation-name: wrongAnswerAnimation;
  animation-duration: 0.5s;
}

h2 {
  color: goldenrod;
}

#quizzes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#quizbuttons {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.quiz1button, .quiz2button {
  background-color: brown;
  padding: 10px;
  font-size: 30px;
  margin: 20px;
  cursor: pointer;
  border-style: none;
  border-radius: 15px;
  color: goldenrod;
}

#reload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rlbutton {
  background-color: brown;
  padding: 10px;
  font-size: 30px;
  margin: 20px;
  cursor: pointer;
  border-style: none;
  border-radius: 15px;
  color: goldenrod;
}
